/* :root {
  --main-color: #312d49;
  --main-deep: #221f35;
  --main-active: #c5bcff;
  --main-accent: #8a87c7;
  --main-light: #9b9ae3;
  --main-action: #bbadeb;
} */

:root {
  --main-color: #fd5e62;
  --main-deep: #af5050;
  --main-active: #ffe4df;
  --main-accent: #ffcda2;
  --main-light: #ffa6a8;
  --main-action: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #22242f; 
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'EB Garamond', serif;
}

h1 {
  font-size: 1.6rem;
  font-family: 'EB Garamond', serif;
  color: var(--main-action);
  font-style: italic;
  font-weight: 600;
}

h3, p {
  font-size: 1.2rem;
  font-family: 'EB Garamond', serif;
  color: var(--main-active);
  font-style: italic;
  font-weight: 600;
}


button.menu {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid var(--main-accent);
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
}

button.menu:hover {
  background: var(--main-color);
}

.viewport {
  /* background-color: var(--main-color); */
  background:linear-gradient(160deg, rgba(229,255,147,1) 0%, rgba(255,146,88,1) 43%, rgba(252,69,103,1) 100%);
  /* border-radius: 10px; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.sidebar {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(500px);
  bottom: 0;
  width: 310px;
  background-color: var(--main-color);
  visibility: hidden;
  -webkit-box-shadow: -3px 0px 8px 3px var(--main-deep); 
  box-shadow: -3px 0px 8px 3px var(--main-deep);
  border-radius: 10px;
  transition: transform 400ms ease;
}

.sidebar.open {
  transform: translateX(0px);
} 

header {
  height: 70px;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  -webkit-box-shadow: -3px 0px 8px 3px var(--main-deep); 
  box-shadow: -3px 0px 8px 3px var(--main-deep);
  display: flex;
  justify-content: center;
  align-items: center;

}

footer {
  height: 80px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-top: 1px solid var(--main-accent);;
  display: flex;
  justify-content: space-between;
  transition: bottom 500ms 1s ease, opacity 500ms 1s ease;
}

.display {
  display: flex;
}

div#info {
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

div#info ul {
  list-style: none;
  padding: 7px 7px;
  border-radius: 8px;
}

div#info ul li {
  font-size: 1.1rem;
  color: #ffffff;
  line-height: 1.5rem;
  font-weight: 600;
  margin: 2px;
  padding: 2px 8px;
  border: 1px solid var(--main-accent);
  border-radius: 5px;
}


/*  Main  */

.container {
  width: max-content;
  height: max-content;
  transform: translateY(-20px);
}

.svgbox {
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.circle {
  stroke: var(--main-accent);
  stroke-width: 2px;
  fill: none;
}

.progress1 {
  stroke: var(--main-action);
  stroke-width: 4px;
  fill: none;
  transform:  rotate(-90deg);
  transform-origin: center;
}

.progress2 {
  stroke: var(--main-action);
  stroke-width: 4px;
  fill: none;
  transform:  rotate(-90deg);
  transform-origin: center;
}

.animate1 {
  transition: stroke-dashoffset 0s linear;
}

.animate2 {
  transition: stroke-dashoffset 0s linear;
}


button#start {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-action);
  border: none;
  cursor: pointer;
  position: absolute;
  transform: translateY(170px);
}

button#start.disabled {
  cursor: default;
  background-color: var(--main-accent);
}


/*  Sidebar  */

.delayTimes, .medTimes {
  margin: 20px;
}

.delayTimes ul, .medTimes ul {
  list-style: none;
  margin: 10px 0;
  display: flex;
  width: 270px;
  justify-content: space-between;
}

.delayTimes button, .medTimes button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-light); 
  cursor: pointer;
  font-family: 'EB Garamond', serif;
  color: var(--main-color);
  font-size: 1.3rem;
  font-weight: 600;
}

.delayTimes button:hover, .delayTimes button.active,
.medTimes button:hover, .medTimes button.active {
  background-color: var(--main-active); 
  color: var(--main-color);
  cursor: pointer;
  font-weight: 600;
}

.startSounds, .endSounds, .ambientSounds { 
  margin: 30px 0 20px 20px;
}

.select-sound {
  display: block;
  margin: 10px 0;
  padding: 10px 12px;
  width: 270px;
  height: 44px;
  border: none;
  outline: none;
  background-color: var(--main-light); 
  font-family: 'EB Garamond', serif;
  color: var(--main-color);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  position: relative;
}


button.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  background-color: var(--main-active);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow {
  margin-top: 12px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--main-color) transparent transparent;
  transform: rotate(0deg);
  transform-origin: 10px 4px;
}

.arrow.rotate {
  transform: rotate(180deg);
}

ul.dropdown-list {
  margin: -5px 0 0 0;
  padding: 0;
  list-style-type: none;
  width: 270px;
  /* height: 100px;
  overflow-y: auto; */
  overflow: hidden;
  opacity: 0;
  display: none;
  background-color: var(--main-light);
  border-radius: 5px;
  position: absolute;
  z-index: 2;
  scrollbar-color: var(--main-active) var(--main-light);
  scrollbar-width: 10px;
}

ul.dropdown::-webkit-scrollbar-thumb {
  background-color: var(--main-light);
}

ul.dropdown-list.open {
  opacity: 1;
  display: block;
}

ul.dropdown-list li {
  font-family: 'EB Garamond', serif;
  color: var(--main-active);
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 600;
  padding: 8px 12px;
  cursor: pointer;
}

ul.dropdown-list li:hover {
  background-color: var(--main-active);
  color: var(--main-color);
}


/* MEDIA */
@media screen and (min-width: 1024px) {
  .viewport { max-width: 1024px; }
  header { height: 80px; }
  h1 { font-size: 2rem; }
}