* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2a1152; 
  width: 100vw;
  height: 100vh;
  padding: 10px;
  background-image: url('images/landscape-vector-art-8.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}


button.menu {
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #e22765;
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
}

button.menu:hover {
  background: rgb(42, 17, 82, 0.5);
}

/* Simulate App Layout */
.viewport {
  border:2px solid #e22765;
  border-radius: 10px;
  position: relative;
  width: 100%;
  max-width: 600px;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  height: 100px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}

div#info {
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  background-color: rgb(226, 39, 101, 0.1); 
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

div#info ul {
  list-style: none;
  padding: 10px 14px;
  background-color: rgb(226, 39, 101, 0.1); 
  border-radius: 8px;
  margin: 0 10px 0 0;
}

div#info ul li {
  font-family: 'EB Garamond', serif;
  font-size: 1.4rem;
  color: #e22765;
  /* display: inline-block; */
}

.display {
  display: flex;
}

.set {
  background-color: rgb(226, 39, 101, 0.1); 
  border-radius: 8px;
}



.container {
  width: 250px;
  height: 250px;
  display: grid;
  place-items: center;
}

.svgbox {
  width: 250px;
  height: 250px;
  display: grid;
  place-items: center;
}

.circle {
  stroke: #e22765;
  stroke-width: 4px;
  fill: none;
}

.progress {
  stroke: rgb(255, 255, 255);
  stroke-width: 4px;
  stroke-dasharray: 766.66; 
  stroke-dashoffset: 766.66;   
  fill: none;
  transform:  rotate(-90deg);
  transform-origin: center;
  
}

.progress2 {
  stroke: rgb(115, 240, 121);
  stroke-width: 4px;
  stroke-dasharray: 766.66; 
  stroke-dashoffset: 766.66;   
  fill: none;
  transform:  rotate(-90deg);
  transform-origin: center;
}

.animate {
  transition: stroke-dashoffset 5s linear;
  stroke-dashoffset: 0;  
}

.animate2 {
  transition: stroke-dashoffset 5s linear;
  stroke-dashoffset: 0;  
}



button#start {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #CAF2EE;
  border: none;
  transform: translateY(50px);
  cursor: pointer;
  align-self: center;
}

button#start.disabled {
  cursor: default;
  background-color: #e22765;
}




