:root {
  --main-dark: #2b253d;
  --main-accent: #e22765;
  --main-accent-light: #ee81a6;
  --main-accent-tp: 226, 39, 101;
  --main-action: #bffff9;
  --main-shadow : #1d1929;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--main-dark); 
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'EB Garamond', serif;
}

h3, p {
  font-size: 1.2rem;
  font-family: 'EB Garamond', serif;
  color: var(--main-accent);
  font-style: italic;
  font-weight: 600;
}


button.menu {
  width: 30px;
  height: 30px;
  background: transparent;
  border: 2px solid var(--main-accent);
  border-radius: 50%;
  margin: 20px;
  cursor: pointer;
}

button.menu:hover {
  background: var(--main-shadow);
}

.viewport {
  /* border:2px solid var(--main-shadow); */
  background-color: var(--main-shadow);
  border-radius: 10px;
  position: relative;
  width: 100%;
  /* max-width: 600px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sidebar {
  position: absolute;
  top: 0;
  right: -500px;
  bottom: 0;
  width: 310px;
  background-color: var(--main-dark);
  visibility: hidden;
  -webkit-box-shadow: -3px 0px 8px 3px var(--main-shadow); 
  box-shadow: -3px 0px 8px 3px var(--main-shadow);

  border-radius: 10px;
  transition: right 400ms ease;
}

.sidebar.open {
  right: 0;
} 

header {
  height: 70px;
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
}


div#info {
  max-width: 1000px;
  margin: auto;
  /* padding: 10px; */
  /* background-color: rgba(226, 39, 101, 0.1);  */
  /* background-color: rgba(var(--main-accent-tp), 0.1);  */
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

div#info ul {
  list-style: none;
  padding: 10px 14px;
  background-color: rgba(var(--main-accent-tp), 0.1); 
  border-radius: 8px;
  margin: 0 10px 0 0;
}

div#info ul li {
  font-size: 1.1rem;
  color: var(--main-accent);
}

div#info ul li {
  font-size: 1.1rem;
  color: var(--main-accent);
  line-height: 1.5rem;
}

.display {
  display: flex;
}

.set {
  background-color: rgba(var(--main-accent-tp), 0.1);  
  border-radius: 8px;
}



/*  Main  */

.container {
  width: max-content;
  height: max-content;
  display: grid;
  place-items: center;
}

.svgbox {
  aspect-ratio: 1;
  display: grid;
  place-items: center;
}

.circle {
  stroke: var(--main-accent);
  stroke-width: 2px;
  fill: none;
}

.progress1 {
  stroke: var(--main-accent-light);
  stroke-width: 4px;
  fill: none;
  transform:  rotate(-90deg);
  transform-origin: center;
  /* stroke-dasharray: 728.8;
  stroke-dashoffset: 728.8; */
}

.progress2 {
  stroke: var(--main-action);
  stroke-width: 4px;
  fill: none;
  transform:  rotate(-90deg);
  transform-origin: center;
  /* stroke-dasharray: 728.8;
  stroke-dashoffset: 728.8; */
}

.animate1 {
  transition: stroke-dashoffset 0s linear;
  /* stroke-dashoffset: 0;   */
}

.animate2 {
  transition: stroke-dashoffset 0s linear;
  /* stroke-dashoffset: 0;   */
}


button#start {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--main-action);
  border: none;
  margin-top: 40px; 
  cursor: pointer;
  align-self: center;
}

button#start.disabled {
  cursor: default;
  background-color: var(--main-accent);
}


/*  Sidebar  */

.delayTimes, .medTimes {
  margin: 20px;
}

.delayTimes ul, .medTimes ul {
  list-style: none;
  margin: 10px 0;
  display: flex;
  width: 270px;
  justify-content: space-between;
}

.delayTimes button, .medTimes button {
  padding: 8px 20px;
  border: none;
  border-radius: 5px;
  background-color: rgba(var(--main-accent-tp), 0.2); 
  cursor: pointer;
  font-family: 'EB Garamond', serif;
  color: var(--main-accent);
  font-size: 1.3rem;
  font-weight: 600;
}

.delayTimes button:hover, .delayTimes button.active,
.medTimes button:hover, .medTimes button.active {
  background-color: var(--main-accent); 
  color: var(--main-dark);
  cursor: pointer;
  font-weight: 700;
}

.startSounds, .endSounds, .themes { 
  margin: 30px 0 20px 20px;
}

.select-sound {
  display: block;
  margin: 10px 0;
  padding: 8px 12px;
  width: 270px;
  height: 44px;
  border: none;
  outline: none;
  background-color: rgba(var(--main-accent-tp), 0.2); 
  font-family: 'EB Garamond', serif;
  color: var(--main-accent);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  position: relative;
}


button.dropdown {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  background-color: var(--main-accent);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow {
  margin-top: 12px;
  border-width: 10px;
  border-style: solid;
  border-color: var(--main-shadow) transparent transparent;
  transform: rotate(0deg);
  transform-origin: 10px 4px;
}

.arrow.rotate {
  transform: rotate(180deg);
}

ul.dropdown-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 270px;
  opacity: 0;
  display: none;
  background-color: var(--main-dark);
  -webkit-box-shadow: -2px 2px 5px 2px var(--main-shadow); 
  box-shadow: -2px 2px 5px 2px var(--main-shadow);
  position: absolute;
  z-index: 9999;
}

ul.dropdown-list.open {
  opacity: 1;
  display: block;
}

ul.dropdown-list li {
  font-family: 'EB Garamond', serif;
  color: var(--main-accent);
  font-size: 1.2rem;
  font-weight: 600;
  padding: 8px 12px;
  background-color: rgba(var(--main-accent-tp), 0.1);
  cursor: pointer;
}

ul.dropdown-list li:hover {
  background-color: var(--main-shadow);
}


.themes p {
  display: inline-block;
  height: 44px;
  background-color: rgba(var(--main-accent-tp), 0.1);
  border-radius: 5px;
  padding: 8px 18px;
  margin: 10px 0;
}


/* MEDIA */

@media screen and (min-width: 600px) {
  .viewport {
    max-width: 600px;
    height: 95vh;
    border:2px solid var(--main-shadow);
  }
}